@section CSSs{
    <link href="~/css/about.css" rel="stylesheet" asp-append-version="true"/>
}

<div class="flex-container">
    <div class="flex-item" id="image-container">
        <img src="~/images/profile.jpg" alt="Profile Photo" id="img-profile"/>
    </div>

    <div class="flex-item" id="description-container" style="font-weight:400; font-size:20px;">
        <h3>About Me</h3>
        <p>
            Hello! I'm Sibbir Ahmed, a Software Engineer from Dhaka, Bangladesh, who's experienced in taking fullstack applications from scratch to production.
        </p>

        <p>
            With a solid foundation in Computer Science, having earned my BSc from Chittagong University of Engineering and Technology,
            I've embarked on a fulfilling journey in the realm of software development.
        </p>

        <p>
            Currently, I'm applying my expertise at Enosis Solutions, where I've spent the past 2 years honing my skills and contributing to diverse projects. 
            As a versatile full stack developer, I thrive on crafting both <span style="font-weight: bold">Web and Desktop</span> applications, 
            leveraging my proficiency in <span style="font-weight: bold">.NET</span> technologies to bring ideas to life.
        </p>

        <p>
            In addition to my professional endeavors, I'm committed to continuous learning and growth. 
            Whether it's staying updated on the latest technologies or refining my problem-solving skills, 
            I embrace every opportunity to evolve as a developer and contribute meaningfully to the ever-evolving tech landscape.
        </p>

        <p>
            Additionally, I'm a freelance software engineer, enhancing my experience alongside my role at Enosis Solutions.
        </p>
    </div>
</div>