@section CSSs{
    <link href="~/css/skills.css" rel="stylesheet" asp-append-version="true"/>
}

<div id="main-container">
    <div>
        <div class="skill-section-container">
            <h5>
                Front End
            </h5>
            <div id="front-end-skills-container"></div>
        </div>

        <div class="skill-section-container">
            <h5>
                Back End
            </h5>
            <div id="back-end-skills-container"></div>
        </div>

        <div class="skill-section-container">
            <h5>
                .NET Frameworks
            </h5>
            <div id="framework-skills-container"></div>
        </div>
    </div>
    <div id="skill-image-container">
        <img src="~/images/skills.png" width="600px" height="auto"/>
    </div>
</div>


@section Scripts{
    <script src="~/js/skills.js" asp-append-version="true"></script>
}