@section CSSs{
    <link href="~/css/home.css" rel="stylesheet" asp-append-version="true"/>
}

<div>
    <div class="circular-image">
        <img src="~/images/profile.jpg" alt="Profile Photo" style="width: 100%; height: auto;" />
    </div>

    <div class="description">
        <p><i>I'm a Software Engineer that welcomes challenges and architects solutions.</i></p>
    </div>
</div>
